{% extends "base.html" %}

{% block content %}
    <div class="container">
	<div class="mx-auto">
	    <h1>About</h1>
	    <br>
	    <div>
	        <a class="btn btn-primary" href="https://www.linkedin.com/in/aiden-white-280793181/" target="_blank">LinkedIn</a>
   	    </div>
	    <br>
	    <h4>Hi, I'm Aiden. I'm a Software Engineer/Data Scientist working on tools for solid-state drive validation at <a href="https://www.solidigm.com" target="_blank">Solidigm</a>.</h4>
	    <br>
	    <h4>I'm located in Southern California and my interests include programming, running, and playing chess.</h4>
	</div>
    </div>
{% endblock %}
