{% extends "base.html" %}

{% block app_content %}
  {% for post in posts %}
  <div class="container post">
    <h1> {{ post.title }} </h1>
    <h6> By: {{ post.get_author() }} </h6>
    <h6> Posted: {{ moment(post.timestamp).format('LLL') }} </h6>
    <h6> Last Edited: {{ moment(post.last_edited).format('LLL') }} </h6>
    {% if admin %}
      <span>
        <a class="btn btn-info" href="/post?id={{post.id}}">Edit</a>
	<a class="btn btn-danger" href="/delete_post?id={{post.id}}">Delete</a>
      </span>
    {% endif %}
    <hr>
    <div> {{ post.body | safe}} </div>
    <br>
  </div>
  {% endfor %}
{% endblock %}
