{% extends "base.html" %}

{% block title %}
  Projects
{% endblock %}

{% block app_content %}
  <div class="container post">
    <a href="/projects/sorting"><h1>Sorting Algorithm Visualizer</h1></a>
    <p>A resource for visualizing, comparing, and learning about popular sorting algorithms</p>
  </div>
  
  <div class="container post">
    <a href="https://www.tiktok.com/@python.geek" target="_blank"><h1>TikTok Programming Tutorials</h1></a>
    <p>I make LeetCode tutorials on TikTok</p>
  </div>
{% endblock %}
